body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    background-color: #F6F6F6;
    position: relative;
    max-width: 1400px;
}

* a {
    text-decoration: none;
    color: white;
}

main {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

/*** colors ***/
.grey-icon {
    color: #7e7e7e;
}

.fa-solid {
    display: flex;
}

/*** Header ***********************************************************************/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    background-color: #FFFFFF;
    width: 100%;
}

.header-logo {
    font-size: 30px;
    line-height: 44px;
    margin: 0px;
    color: black;
    font-family: "Shrikhand";
}

/*** Location *********************************************************************/

.location {
    width: 100%;
    background-color: #EAEAEA;
    display: flex;
    align-items: baseline;
    justify-content: center;
    color: #353535;

}

.location p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.location i {
    display: flex;
    height: 16px;
    width: 12px;
    color: #353535;
    margin-right: 17px;
}

/*** Hero *************************************************************************/
.hero {
    display: flex;
    justify-content: center;
    width: 99%;
}

.hero h2 {
    max-width: 250px;
    display: flex;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}

.hero p {
    max-width: 315px;
    text-align: center;
}

.hero__container {
    width: 100%;
    padding: 20px 20px 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    opacity: 1;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    border: transparent;
    color: white;
    border-radius: 200px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);


}


button:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.hero button span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 13px 18.75px 13px 18.75px
}

/*** Funtioning *************************************************************/







.procedure_main_contain {
    padding: 25px 0;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.procedure {
    width: 95%;
    height: 440px;
    background-color: white;
    padding: 0;
    display: flex;
    flex-direction: column;
}



.procedure_container {

    display: flex;
    align-items: center;
    background: #f6f6f6;
    width: auto;
    margin: 10px 20px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
    height: 72px;
    margin-bottom: 24px;
}

.procedure_container:hover {
    background-color: #F5EDFF;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.procedure__number {
    background-color: #9356DC;
    color: white;
    position: absolute;
    padding: 3px 8px 3px 8px;
    border-radius: 500px;

    transform: translateX(-50%);
}

.procedure__icon {
    color: #7E7E7E;
    margin: 0 27px 0px 32px;
}

.procedure h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

/*** Restaurants ***************************************************************/
.restaurants_main_contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 54px 0px;
}

.restaurants_main_contain h2 {
    width: 100%;
    max-width: 335px
}

.restaurants {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    width: 95%;
    grid-gap: 20px;
    justify-items: center;


}

.restaurants a {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 251px;
    background-color: white;
    max-width: 335px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;

}

.restaurants a:hover {
    transition: 0.5s;
}

.restaurants_card_image img {
    height: 175px;
    object-fit: cover;
    width: 100%;
    border-radius: 15px 15px 0px 0px;

}

.restaurants_card_image_nouveau {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.restaurants_card_image p {
    display: flex;
    justify-content: center;
    position: absolute;

    line-height: 29px;
    width: 80px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;


    background: #99E2D0;
    color: #008766;
}

.restantant_text {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: black;
}

.restantant_text h4 {
    margin: 9px 0px 5px 12px;
    font-weight: 700;
    font-size: 18px;
}

.restantant_text p {
    font-weight: 300;
    font-size: 17px;
    margin: 0px 0px 5px 12px
}


.card_content {
    display: flex;
}

.hearts {
    position: relative;
    width: 24px;
    height: 24px;
    top: 20px;
    right: 30px;
}

.empty_heart {
    font-size: 24px;
    color: black;
}

.full_heart {
    color: transparent;
    font-size: 25px;
    top: 0px;
    position: absolute;
    transition: opacity 0.5s;
    left: 0px;
    opacity: 0;

}

.hearts:hover .full_heart {
    background-image: linear-gradient(to top, rgba(147, 86, 220, 1), rgba(255, 121, 218, 1));
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 1;
    transition: opacity 0.5s;
}

/*** footer *******************************************************************/
footer {
    display: flex;
    height: 197px;
    width: 100%;
    background: #353535;
    color: white;
}

footer a {
    margin-bottom: 7px;
}

footer h5 {
    font-family: 'Shrikhand';
    font-size: 18px;
    margin: 0px;
    margin-bottom: 16px;
    line-height: 26px;
}

.footer_container {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.footer_link {
    display: flex;
    align-items: center;
}

.footer_container a p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0px;
    margin-left: 11px;
}

.footer_container a p:hover {
    text-decoration: underline;
}

.loader {
    height: 100%;
    background: white;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;

    animation: spinner 2s linear;
    visibility: hidden;
}

.loader-border {

    display: flex;

    justify-content: center;

    align-items: center;
    border: 10px solid transparent;
    border-top: 10px solid #9356DC;
    border-bottom: 10px solid #FF79DA;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;


    animation: loader-border 2s linear;
    z-index: 10;
    visibility: hidden;
}

.loader-center {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #99E2D0;

}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        visibility: visible;
        opacity: 0.9;
    }

    70% {
        opacity: 0.9;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes loader-border {
    0% {
        visibility: visible;
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: rotate(360deg);
        opacity: 0;
        visibility: hidden;
    }
}

/****** Media Queries *****/
@media screen and (min-width: 992px) {



    .procedure_main_contain {
        padding: 0px;
    }

    .procedure {
        display: flex;
        flex-direction: row;
        height: 262px;
        width: 1050px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        width: 84%;

    }

    .procedure h2 {
        display: flex;
        width: 100%;
    }

    .procedure_container {
        display: flex;
        align-items: center;
        width: 30%;
        background: #f6f6f6;
        margin: 0px;
        max-width: 322px;
    }

    .procedure_container:hover {
        transition: 0.5s;
    }

    .restaurants {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;

        box-sizing: border-box;
        padding: 40px;

        justify-items: stretch;
        width: 100%;
    }

    .restaurants_main_contain h2 {
        margin: 0px 0px 0px 40px
    }

    .restaurants_main_contain {
        align-items: normal;
    }

    .footer_container {
        width: 85%;
        display: flex;
        flex-direction: row-reverse;
        padding: 25px;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 78px;
        margin-right: 78px;
    }

    footer {
        height: 114px;
    }
}